/vendor/
/node_modules/
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/public/build
/public/hot
/.env
/.env.*
!/.env.example
/storage/app/settings.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/vite.config.js.timestamp
phpunit.xml
/.idea/
/.vscode/
.DS_Store
Thumbs.db
